* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* start navbar css */
header {
  width: 100%;
  background-color: #fff;
  border-bottom: 2px solid #cccccc;
}
.navbar {
  padding: 0;
}
.container {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding-right: 0;
  padding-left: 0;
}
.logo {
  cursor: pointer;
  background-color: #4aaaa5;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: auto;
  padding: 24px 24px;
  font-family: "Times New Roman", Times, serif;
}

.navbar-nav .nav-links {
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 20px;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
}
/* end navbar css */
/* start contact css */

.contact {
  background-image: url("../images/background.png");
  width: 100%;
  padding: 20px;
}

.content-container {
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
}
.contact-h1 {
  padding: 24px 24px;
  flex-basis: 100%;
  color: #4aaaa5;
  border-bottom: 2px solid #dddddd;
  margin: 20px;
  font-family: "Times New Roman", Times, serif;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 16px;
  resize: vertical;
}

.style {
  background-color: #4aaaa5;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.style:hover {
  background-color: rebeccapurple;
}
/* end contact css */

footer {
  background-color: #666666;
  height: 100px;
  text-align: center;
  padding-top: 50px;
  border-top: 8px solid #4aaaa5;
}

/* medium scree / tablet */
@media (max-width: 768px) {
  .container {
    width: 720px;
  }
  .logo {
    padding: 24px 0px;
  }
  .navbar-nav .nav-link {
    margin: 0 10px;
  }
}

/* Small screen / phone */
@media (max-width: 576px) {
  .container {
    width: 540px;
  }
  .logo {
    width: 100%;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
  }
}
